<h1><center>Hello <%= user_name %>.  I see you are <%= age %> and live in <%= user_location%>.</h1></center><br><br>

<h1><center>Your 3 favorite numbers are <%= num1%>, <%= num2 %>, and <%= num3 %>.  The sum of them is <%= sum_of_nums %>.</h1></center><br><br>
 <h1><center><%= age_compare %></h1></center>